[bumpversion]
current_version = 0.1.1

[bumpversion:file:Makefile]
search = VERSION = v{current_version}
replace = VERSION = v{new_version}

[bumpversion:file:fv3net/__init__.py]

[bumpversion:file:workflows/prognostic_run_diags/argo.yaml]

[bumpversion:file:workflows/prognostic_c48_run/Makefile]
