absl-py==0.9.0
apache-beam==2.23.0
appdirs==1.4.4
appnope==0.1.0
argcomplete==1.12.0
asciitree==0.3.3
astor==0.8.0
attrs==19.3.0
avro-python3==1.9.2.1
backcall==0.2.0
backoff==1.10.0
beautifulsoup4==4.9.1
black==19.10b0
bleach==3.1.5
blinker==1.4
boto==2.49.0
brotlipy==0.7.0
budget==0.1.0
bump2version==1.0.0
CacheControl==0.12.6
cachetools==3.1.1
cachy==0.3.0
certifi==2019.11.28
chardet==3.0.4
cleo==0.7.6
click==7.1.2
clikit==0.4.3
conda==4.8.4
conda-build==3.18.11
conda-lock==0.4.1
conda-package-handling==1.7.0
coverage==5.0
crcmod==1.7
cryptography==2.9.2
cssselect==1.1.0
cycler==0.10.0
cytoolz==0.10.1
dask==2.22.0
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.1.1
docopt==0.6.2
docrep==0.2.7
entrypoints==0.3
f90nml==1.1.2
fastavro==0.23.6
fasteners==0.15
filelock==3.0.12
flake8==3.7.9
fsspec==0.8.0
future==0.18.2
gast==0.2.2
gcs-oauth2-boto-plugin==2.6
gitdb==4.0.5
GitPython==3.1.7
glob2==0.7
google-api-core==1.17.0
google-apitools==0.5.31
google-auth-oauthlib==0.4.1
google-cloud-bigquery==1.24.0
google-cloud-bigtable==1.0.0
google-cloud-core==1.3.0
google-cloud-datastore==1.7.4
google-cloud-dlp==0.13.0
google-cloud-language==1.3.0
google-cloud-pubsub==1.0.2
google-cloud-spanner==1.13.0
google-cloud-videointelligence==1.13.0
google-cloud-vision==0.42.0
google-pasta==0.2.0
google-reauth==0.1.0
googleapis-common-protos==1.51.0
grpc-google-iam-v1==0.12.3
grpcio==1.31.0
grpcio-gcp==0.2.2
gsutil==4.52
h5py==2.10.0
hdfs==2.5.8
HeapDict==1.0.1
html5lib==1.1
httplib2==0.17.4
idna==2.9
importlib-metadata==1.1.3
intake==0.6.0
intake-xarray==0.3.1
ipython-genutils==0.2.0
jedi==0.17.0
Jinja2==2.11.2
json5==0.9.5
jsonschema==3.2.0
jupyter-core==4.6.3
jupyterlab==2.1.5
Keras-Preprocessing==1.1.0
keyring==20.0.1
kiwisolver==1.2.0
libarchive-c==2.9
llvmlite==0.33.0
locket==0.2.0
lockfile==0.12.2
Markdown==3.1.1
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==2.0.0
monotonic==1.5
more-itertools==8.4.0
msgpack==1.0.0
mypy==0.770
mypy-extensions==0.4.3
nbconvert==5.6.1
nbformat==5.0.7
nc-time-axis==1.2.0
netCDF4==1.5.3
nose==1.3.7
numba==0.50.1
numcodecs==0.6.4
oauth2client==3.0.0
oauthlib==3.1.0
olefile==0.46
opt-einsum==3.1.0
packaging==20.4
pandas==1.0.1
pandocfilters==1.4.2
param==1.9.3
partd==1.1.0
pastel==0.2.0
pathspec==0.7.0
pbr==5.4.5
pexpect==4.8.0
pickleshare==0.7.5
pip-tools==5.3.1
pkginfo==1.5.0.1
pluggy==0.13.1
poetry==1.0.10
prometheus-client==0.8.0
prompt-toolkit==3.0.5
protobuf==3.13.0
psutil==5.7.0
ptyprocess==0.6.0
pyarrow==0.17.1
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycodestyle==2.5.0
pycosat==0.6.3
pyct==0.4.6
pydot==1.4.1
pyepsg==0.4.0
pyflakes==2.1.1
Pygments==2.6.1
PyJWT==1.7.1
pykdtree==1.3.1
pylev==1.3.0
pymongo==3.11.0
pyparsing==2.4.7
pyproj==2.6.1.post1
pyquery==1.4.0
pyrsistent==0.14.11
pyshp==2.1.0
PySocks==1.7.1
pytest==6.0.1
pytest-mpl==0.11
pytest-regtest==1.4.4
python-dateutil==2.8.1
pytz==2020.1
pyu2f==0.1.4
PyWavelets==1.1.1
PyYAML==5.3
pyzmq==19.0.1
requests-oauthlib==1.3.0
requests-toolbelt==0.8.0
retry-decorator==1.1.1
ruamel-yaml==0.15.87
scikit-image==0.16.2
scikit-learn==0.22.1
seaborn==0.10.1
Send2Trash==1.5.0
Shapely==1.7.0
shellingham==1.3.2
six==1.12.0
smmap==3.0.4
SocksiPy-branch==1.1
sortedcontainers==2.2.2
soupsieve==2.0.1
synth==0.1.0
tblib==1.6.0
tensorboard==2.0.0
tensorflow==2.2.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tomlkit==0.5.11
toolz==0.10.0
tornado==6.0.4
traitlets==4.3.3
typed-ast==1.4.1
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
wrapt==1.12.1
xgcm==0.3.0
xmltodict==0.12.0
yq==2.10.1
zarr==2.4.0
zict==2.0.0
zipp==3.1.0
py==1.9.0
