apache-beam[gcp]
zarr
poetry
nc-time-axis
bump2version
yq
pytest-regtest
conda-lock
pip-tools
recommonmark
sphinx
sphinx-argparse
sphinx_rtd_theme
sphinx-gallery
tox
tensorflow>=2.3
tensorflow-addons
fv3config

# This version of gcsfs breaks logging
gcsfs!=0.7.0

# this version has wheels = faster installs
numcodecs>=0.7.2
