apache-beam[gcp]
nc-time-axis>=1.4.1
bump2version
yq
py
pytest-regtest
recommonmark
sphinx>=1.4
sphinx-argparse
sphinx_rtd_theme
sphinx-gallery
tensorflow>=2.3
fv3config>=0.9.0
pace-util>=0.9.0
numba
intake

# prognostic run diagnostics requirements
# this file depends on vcm, so pip-tools cannot lock it
holoviews>=1.15
streamlit
plotly

# Hope for more stable performance with these versions
gcsfs>=2021.6.0
fsspec>=0.9.0

# fix bug where variables sometimes become lowercase
zarr>=2.13.2

# this version has wheels = faster installs
numcodecs>=0.7.2

# tensorflow >= 2.5.2 pins h5py to a version that breaks xarray,
# need to also require a later version of h5netcdf
h5netcdf>=0.12.0

# include this here, because dataflow dependencies are managed separately from
# the rest of fv3net. Google controls the dataflow runtime environment, so it
# is too hard to ensure that local fv3net matches the installed dependencies of
# dataflow workers.
xpartition>=0.2.1

# xpartition needs >=0.16.2 for region feature of to_zarr
# pip-compile doesn't work with setup.cfg
xarray >= 0.19.0

# developer tools
conda-lock
pip-tools
tox
pre-commit
ipython>=7.29.0
jupyterlab
zarrdump
dask[distributed]
bokeh>=2.4.2,<3 # needed for dask distributed dashboard

# fv3fit testing tools
hypothesis
