# external
apache-beam==2.16.0
click
cloudpickle
dask>=2.3.0
fsspec
f90nml
flake8
gcsfs
google-cloud-storage
gsutil
h5netcdf
hypothesis
intake
intake_xarray
metpy
netcdf4>=1.4
numba
numpy==1.16
partd
pyyaml==3.13
pytest
pytest-mpl
scikit-image
scikit-learn==0.20
snakemake
toolz
xarray>=0.12
zarr
black
isort
nose
