absl-py==0.12.0
astunparse==1.6.3
cachetools==4.2.2
chardet==4.0.0
dask==2021.4.1
entrypoints==0.3
fasteners==0.16
flatbuffers==1.12
fsspec==2021.4.0
gast==0.3.3
google-auth-oauthlib==0.4.4
google-auth==1.30.0
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
intake-xarray==0.5.0
intake==0.6.2
jinja2==2.11.3
joblib==1.0.1
keras-preprocessing==1.1.2
locket==0.2.1
markdown==3.3.4
markupsafe==1.1.1
netcdf4==1.5.6
numcodecs==0.7.3
numpy==1.19.5
oauthlib==3.1.0
opt-einsum==3.3.0
pandas==1.2.4
partd==1.2.0
protobuf==3.16.0
pytz==2021.1
pyyaml==5.4.1
requests==2.25.1
rsa==4.7.2
scikit-learn==0.24.2
scipy==1.6.3
sklearn==0.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboard==2.5.0
tensorflow-addons==0.12.1
tensorflow-estimator==2.4.0
tensorflow==2.4.1
termcolor==1.1.0
threadpoolctl==2.1.0
typeguard==2.12.0
urllib3==1.26.4
werkzeug==1.0.1
wheel==0.36.2
wrapt==1.12.1
xarray==0.18.0
zarr==2.8.1
