-e .

# external
click
cloudpickle
dask>=2.3.0
f90nml
flake8
gcsfs
google-cloud-storage
h5netcdf
hypothesis
intake
intake_xarray
metpy
netcdf4>=1.4
numba
numpy==1.16
pytest
scikit-image
scikit-learn==0.20
snakemake
toolz
xarray>=0.12
zarr