# this is only for development purposes and integration with visual studio code
version: '3.4'
services:
  fv3:
    image: us.gcr.io/vcm-ml/fv3fit:81a999aab6ba52e7650f821f8cf80e79476f3283 # working
    entrypoint: []
    command: [bash]
    working_dir: /fv3net/projects/microphysics
    volumes:
      - ../../external:/fv3net/external
      - ../../workflows:/fv3net/workflows
      - ../../projects:/fv3net/projects
      - bash_history:/root/.bash_history
      - $HOME/.config/gcloud:/root/.config/gcloud
    environment:
      - HISTFILE=/root/.bash_history/history
      - PYTHONPATH=/fv3net/external/fv3fit:/fv3net/external/emulation
    env_file:
      - .env
volumes:
  bash_history: {}