alabaster
appdirs
asciitree
attrs
Babel
backoff
certifi
cftime
chardet
click
cycler
dask
decorator
docrep
docutils
entrypoints
f90nml
fasteners
fsspec
future
gcsfs
gitdb
GitPython
h5netcdf
h5py
idna
imageio
imagesize
importlib-metadata
intake
ipython-genutils
Jinja2
joblib
kiwisolver
kubernetes
llvmlite
MarkupSafe
MetPy
monotonic
more-itertools
mpi4py
msgpack
netCDF4
networkx
numba
numcodecs
numpy
oauthlib
packaging
pandas
Pillow
Pint
pkgconfig
pluggy
pooch
protobuf
py
pyasn1
pyasn1-modules
Pygments
pyparsing
pytest
pytest-regtest
python-dateutil
pytz
PyWavelets
PyYAML
requests
requests-oauthlib
rsa
scikit-image
scikit-learn
scipy
six
smmap
snowballstemmer
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
toolz
traitlets
tensorflow
urllib3
wcwidth
websocket-client
xarray
xgcm
zarr
zipp
jsonschema
