aiohttp==3.6.2
apache-beam==2.19.0
appdirs==1.4.3
asciitree==0.3.3
asn1crypto==1.0.1
async-timeout==3.0.1
attrs==19.3.0
avro-python3==1.9.2.1
blosc==1.8.3
bokeh==1.4.0
cachetools==4.0.0
certifi==2019.11.28
cffi==1.12.3
cftime==1.1.1.2
chardet==3.0.4
click==7.1.1
cloudpickle==1.3.0
conda==4.8.3
conda-package-handling==1.6.0
crcmod==1.7
cryptography==2.7
cycler==0.10.0
cytoolz==0.10.1
dask==2.13.0
dask-kubernetes==0.10.1
decorator==4.4.2
dill==0.3.1.1
distributed==2.13.0
docopt==0.6.2
docrep==0.2.7
entrypoints==0.3
f90nml==1.1.2
fastavro==0.21.24
fasteners==0.15
fsspec==0.6.3
future==0.18.2
# Editable install with no version control (fv3net==0.1.1)
gcsfs==0.6.1
google-api-core==1.16.0
google-auth==1.12.0
google-auth-oauthlib==0.4.1
google-cloud-core==1.3.0
google-cloud-storage==1.26.0
google-resumable-media==0.5.0
googleapis-common-protos==1.51.0
grpcio==1.27.2
h5netcdf==0.8.0
h5py==2.10.0
hdfs==2.5.8
HeapDict==1.0.1
httplib2==0.12.0
idna==2.8
imageio==2.8.0
intake==0.5.4
ipython-genutils==0.2.0
Jinja2==2.11.1
kiwisolver==1.1.0
kubernetes==11.0.0
kubernetes-asyncio==11.1.0
llvmlite==0.31.0
locket==0.2.0
lz4==3.0.2
MarkupSafe==1.1.1
matplotlib==3.2.1
MetPy==0.12.0
mock==2.0.0
monotonic==1.5
msgpack==1.0.0
multidict==4.7.5
netCDF4==1.5.3
networkx==2.4
numba==0.48.0
numcodecs==0.6.4
numpy==1.18.1
oauth2client==3.0.0
oauthlib==3.1.0
olefile==0.46
packaging==20.1
pandas==1.0.1
partd==1.1.0
pbr==5.4.4
Pillow==7.0.0
Pint==0.11
pooch==1.0.0
protobuf==3.11.3
psutil==5.7.0
pyarrow==0.15.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser==2.19
pydot==1.4.1
pymongo==3.10.1
pyOpenSSL==19.0.0
pyparsing==2.4.6
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.1.2
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.0
ruamel-yaml==0.15.46
scikit-image==0.16.2
scipy==1.4.1
six==1.12.0
sortedcontainers==2.1.0
tblib==1.6.0
toolz==0.10.0
tornado==6.0.4
tqdm==4.36.1
traitlets==4.3.3
typing==3.7.4.1
typing-extensions==3.7.4.1
urllib3==1.24.2
# Editable install with no version control (vcm==0.1.0)
websocket-client==0.57.0
xarray==0.15.1
xgcm==0.3.0
yarl==1.4.2
zarr==2.4.0
zict==2.0.0
gcs-aio-mapper==0.1.0